* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Oxygen', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 2% 3%;
}

.nav-options {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.nav-option {
  font-weight: 300;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  text-align: center;
  color: #666;
  transition: background-color 0.25s ease;
  font-size: 1em;
}

.nav-option:last-child {
  margin-left: 20px;
}

.nav-option:hover {
  color: #111;
  background-color: #EEE;
}

h1.logo {
  font-size: 2.5em;
  text-align: center;
  font-weight: 400;
}

.translation-section {
  display: flex;
  flex-direction: row;
  width: 80%;
  box-shadow: 0 0 8px #BBB;
  border-radius: 10px;
  margin: 6% auto 0;
}

.translate-square {
  height: 350px;
  width: 50%;
}

#left-state {
  border-top-left-radius: 10px;
}

#right-state {
  border-top-right-radius: 10px;
}

#right-text {
  color: #999;
  background-color: #FFF5C4;
}

.translate-state {
  height: 16%;
  display: flex;
  flex-direction: row;
  align-content: center;
  border: 1px solid #666;
}

.translate-state-opt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #666;
  width: 140px;
  text-align: center;
  font-weight: 300;
  font-size: 1.15em;
  box-sizing: border-box;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  transition: background-color 0.25s ease;
  margin-left: 8px;
  transition: all 0.5s ease;
}

.active {
  font-weight: 700;
  border-bottom: 8px solid #F7D345;
  color: #111;
}

.translate-input {
  width: 100%;
  height: 72%;
  border: 1px solid #666;
  box-sizing: border-box;
  border-top: none;
  border-bottom: none;
  position: relative;
}

.translate-input textarea {
  width: 100%;
  height: 100%;
  resize: none;
  box-sizing: border-box;
  border: none;
  position: absolute;
  font-size: 1.5em;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  padding: 4%;
  color: #111;
  vertical-align: top;
  top: 0;
  left: 0;
}

.translate-input textarea:focus {
  outline: none;
}

.translate-input a {
  display: block;
  position: absolute;
  padding: 2%;
  z-index: 1;
  color: #666;
  right: 24px;
  bottom: 24px;
  font-size: 0.8em;
  border: 1px solid #666;
  border-radius: 5px;
  box-shadow: 0 0 8px 1px #999;
  transition: all 0.25s ease;
}

.translate-input a:hover {
  box-shadow: 0 0 4px 0 #999;
  transform: scale(0.95);
}

#left-sound {
  background-color: #FFF5C4;
}

#right-sound {
  background-color: white;
}

#translation-spinner {
  display: none;
}

[class^='translate-footer'] {
  background-color: #EEE;
  height: 12%;
  border: 1px solid #666;
}

.translate-footer-left {
  display: flex;
  flex-direction: row;
  align-content: center;
  border-bottom-left-radius: 10px;
}

.translate-footer-left > div {
  flex: calc(1/3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.25s ease;
}

.translate-footer-left > div:hover {
  cursor: pointer;
  background-color: #DDD;
}

.translate-footer-left > div:first-child {
  border-right: 1px solid #666;
}

.translate-footer-left > div:last-child {
  border-left: 1px solid #666;
}

.translate-footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-right-radius: 10px;
}

.translate-footer-right > div {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.translate-footer-right > div * {
  margin-right: 16px;
  padding: 8px 16px;
}

.translate-footer-right > div a {
  text-decoration: none;
  box-sizing: content-box;
  transition: background-color 0.25s ease;
}

.translate-footer-right > div a:hover {
  background-color: white;
}

#good {
  color: forestgreen;
}

#bad {
  color: crimson;
}

.far, .fas {
  font-size: 2em;
  text-align: center;
}

.definition-section {
  margin: 4% auto;
  width: 60%;
}

h2.subtitle {
  font-size: 2.5em;
  border-bottom: 1px solid #BBB;
  padding-bottom: 1%;
  margin-bottom: 2%;
}

.definition {
  font-weight: 300;
  font-size: 1.25em;
}

.definition-term {
  font-weight: 400;
  display: inline-block;
  width: 20%;
}
